<!doctype html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Nestra</title>
        {% else %}
        <title>Welcome to Nestra</title>
        {% endif %}
    </head>
    <body>
        <div>
            Nestra: 
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for ('login') }}">Login</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for messsage in messages %}
            <li> {{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>